$font-base:    Helvetica, sans-serif;
$secondaryColor : #333;


body {

	
	margin:0;
	padding:0;
    background: white;
}
.header {
	height: 50px;
	list-style-type: none;
    margin-left: 100px;
    padding: 0;
    overflow: hidden;
    background-color: white ;
    		.header__logo{
    		float: left;
    		width:150px;
    		padding-top: 2px;
    		margin-right:50px;
    		margin-left:100px;
    		img{
    		
    		}
    		}
			.header__link {
				margin-left:6px;
				margin-right:6px;
			    float: left;
			    .header__link__text {
			    display: block;
			    color: black;
			    text-transform: uppercase;
			    border-radius: 5px;
			    text-align: center;
			    margin-top:5px;
			    margin-bottom:0px;
			    margin-left:5px;
			    margin-right:0px;
			    font-size: 14px;
			    padding: 10px 10px 5px 10px;
			    text-decoration: none;
			    &:hover {
			    background-color: #f39c12;
			}

}

}
			.header__link__text__cab{
				color:rgba(127, 140, 141,.9);

			  
			    display: block;
			
			    text-transform: uppercase;
			    border-radius: 5px;
			    text-align: center;
			    margin-top:5px;
			    margin-bottom:0px;
			    margin-left:70px;
			    margin-right:0px;
			    font-size: 14px;
			    padding: 10px 10px 5px 10px;
			    text-decoration: none;
			}

}


.context{
		width:100%;
		height: 520px;
			.context__left{
			width:50%;
			float: left;
			height: 530px;
			background-image:url(../images/colorBg.png);
			background-size: cover;
			.context__left__form{
				float: right;
				height: 400px;
				width: 250px;
				margin-top:75px;

				margin-right: 60px;
				h1{
					font-size: 14px;
					color: white;
					text-align: center;
				}
				p{
					margin-top: 0px;
				}
				.context__left__form__icon__pass{
					background-image:url(../images/eye.png); 
					background-repeat: no-repeat; 
					background-position: right;
					width: 100%;
    				padding: 8px 10px;
    				margin: 2px 0;
    				display: inline-block;
    				border: 1px solid #ccc;
    				border-radius: 4px;
    				box-sizing: border-box;
					
				}
				.context__left__form__icon1{
					background-image:url(../images/icon2.png);
					background-repeat: no-repeat; 
					background-size: 15px;
					background-position: 2px 9px;
					width: 100%;
    				padding: 8px 10px;
    				margin: 2px 0;
    				display: inline-block;
    				border: 1px solid #ccc;
    				border-radius: 4px;
    				box-sizing: border-box;
					
				}
				.context__left__form__icon2{
					background-image:url(../images/icon1.png);
					background-repeat: no-repeat; 
					background-size: 15px;
					background-position: 2px 9px;
					width: 100%;
    				padding: 8px 10px;
    				margin: 2px 0;
    				display: inline-block;
    				border: 1px solid #ccc;
    				border-radius: 4px;
    				box-sizing: border-box;
					
				}
				.context__left__form__icon3{
					background-image:url(../images/icon3.png);
					background-repeat: no-repeat; 
					background-size: 15px;
					background-position: 2px 9px;
					width: 100%;
    				padding: 8px 10px;
    				margin: 2px 0;
    				display: inline-block;
    				border: 1px solid #ccc;
    				border-radius: 4px;
    				box-sizing: border-box;
					
				}
				.context__left__form__icon4{
					background-image:url(../images/icon4.png);
					background-repeat: no-repeat; 
					background-size: 15px;
					background-position: 2px 9px;
					width: 100%;
    				padding: 8px 10px;
    				margin: 2px ;
    				display: inline-block;
    				border: 1px solid #ccc;
    				border-radius: 4px;
    				box-sizing: border-box;
					
				}
				.context__left__form__but{
					width: 100%;
					padding: 10px 0px;
					background-color:  #FFC0CB;
					border: 0;
					border-radius: 4px;
					color: white;
				}
				.context__left__form__text{
					color: white;
					margin: 0;
					padding-top: 7px;
					font-size: 14px;
				}
				.context__left__form__but1{
					float: right;
					margin:10px ;
					border-color: white;
					margin-right: 0;
					padding: 20px 40px;
					background-color:  rgba(255,255,255,0.1);
					border: 1px;
					border-radius: 4px;
					color: white;

				}
			}
			}
			.context__right{
			width:50%;
			height: 530px;
			float:left;
			background-image:url(../images/imgBg.jpg);
			background-size: cover;
			}
}



.footer{
	list-style-type: none;
    margin-left: 200px;
	height:35px;
	.footer__left{
		margin-top:16px;
		margin-left:8px;
		margin-right:8px;
		float: left;
		.footer__left__text{
		font-size:12px;

		}
	}
	.footer__right{
	margin-left:600px;
	margin-top:10px;

	img{
		float: left;
		margin-top:16px;
		margin-right:5px;
	}
	.footer__right__tel{
		margin-left: 10px;
		margin-top: 17px;
		float: left;
		width: 150px;
		height: 30px;
		color:#27ae60;
		font-size:13px;
	}
	}
}





 








